/* Découpage de la structure en Header, Nav, Footer, etc
 * 
 * SOMMAIRE
 *
 * 1 - HEADER 
 * 2 - FOOTER
 *
 */


/* ------------------------
    1 - HEADER
------------------------ */

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

    @media (max-width: 575px) {
        .header {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }

@media (max-width: 575px) {
    .header__logo {
        width: 50%;
    }

    .header__navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 50%;
    }
}

.header__navigation__liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header__navigation__liste__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 30px;
    list-style: none;
}

    /* Onglet actif */
    .header__navigation__liste__item.active {
        position: relative;
    }

        /* Barre bleu au dessus de l'onglet actif */
        .header__navigation__liste__item.active::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: #0065FC;
            height: 3px;
            width: 100%;
        }

    .header__navigation__liste__item.active .header__navigation__liste__item__lien { 
        color: #0065FC;
    }

.header__navigation__liste__item__lien {
    color: #000;
    text-decoration: none;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

    .header__navigation__liste__item__lien:hover {
        color: #0065FC;
    }


.header__navigation--responsive {
    width: 100%;
}

.header__navigation--responsive .header__navigation__liste__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7px 0;
    width: 50%;
}

    .header__navigation--responsive .header__navigation__liste__item::before {
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        height: 3px;
        width: 100%;
    }

        .header__navigation--responsive .header__navigation__liste__item.inactive::before {
            background-color: #F2F2F2;
        }

/* S'inscrire */
.header__navigation__liste__item:last-child {
    padding-right: 0;
}

.header__navigation .header__navigation__liste__item:last-child .header__navigation__liste__item__lien {
    color: #0065FC;
    font-weight: bold;
}



/* ------------------------
    2 - FOOTER
------------------------ */
.footer {
    background-color: #F2F2F2;
}

.footer__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0 50px;
}

    @media (max-width: 575px) {
        .footer__sections {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

.footer__sections__section {
    width: 33.3333%;
}

    @media (max-width: 575px) {
        .footer__sections__section {
            width: 100%;
        }

        .footer__sections__section + .footer__sections__section {
            margin-top: 30px;
        }
    }

.footer__sections__section__titre {
    margin-bottom: 1.5rem;
}

.footer__sections__section__liste {
    padding: 0;
    margin: 0;
}

.footer__sections__section__liste__item {
    list-style: none;
}

    .footer__sections__section__liste__item + .footer__sections__section__liste__item {
        margin-top: 10px;
    }

.footer__sections__section__liste__item__lien {
    text-decoration: none;
}

    .footer__sections__section__liste__item__lien:hover {
        color: inherit;
        text-decoration: underline;
    }