/* Style global de la page
 * 
 * SOMMAIRE
 *
 * 1 - INIT
 * 2 - RECHERCHE
 * 3 - HÉBERGEMENTS
 * 4 - ACTIVITÉS 
 */



/* ------------------------
    1 - INIT
------------------------ */

html {
   font-size: 62.5%;
}

body {
   font-family: "Raleway";
   font-size: 1.4rem;
}

a, a:visited, a:focus {
   color: inherit;
}

a:hover {
   color: #0065FC;
}


/* ------------------------
    2 - RECHERCHE
------------------------ */

.recherche__meta__titre {
   margin-bottom: 10px;
}

.recherche__champs {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-bottom: 30px;
}

.recherche__champs__picto {
   background-color: #F2F2F2;
   padding: 8px 15px;
   border: 2px #F2F2F2 solid;
   border-radius: 10px 0 0 10px;
   line-height: 0;
}

.recherche__champs__picto .fas {
   font-size: 1.6rem;
}

.recherche__champs__input {
   font-weight: bold;
   font-size: 1.2rem;
   padding: 10px 15px;
   border: 1px #F2F2F2 solid;
}

    @media (max-width: 575px) {
        .recherche__champs__input {
            width: 100%;
        }  
    }

.recherche__champs__bouton {
   background-color: #0065FC;
   color: #ffffff;
   font-size: 1.2rem;
   padding: 10px 15px;
   border: 1px #0065FC solid;
   border-radius: 0 10px 10px 0;
   -webkit-transition: background-color .4s, color .4s;
   -o-transition: background-color .4s, color .4s;
   transition: background-color .4s, color .4s;
}

   .recherche__champs__bouton:hover {
      cursor: pointer;
      background-color: #F2F2F2;
      color: #0065FC;
   }

   @media (max-width: 575px) {
       .recherche__champs__bouton {
           border-radius: 10px;
           margin-left: -15px;
       }
   }

.recherche__filtres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
}

    @media (max-width: 767px) {
        .recherche__filtres {
            margin-bottom: 15px;
        }
    }

    @media (min-width: 992px) {
        .recherche__filtres {
           -webkit-box-orient: horizontal;
           -webkit-box-direction: normal;
               -ms-flex-direction: row;
                   flex-direction: row;
           -webkit-box-align: center;
               -ms-flex-align: center;
                   align-items: center;
        }
    }

.recherche__filtres__titre {
   font-weight: bold;
   margin-bottom: 15px;
}

    @media (min-width: 992px) {
        .recherche__filtres__titre {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }

.recherche__filtres__boutons__bouton {
   position: relative;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   text-decoration: none;
   padding: 10px 15px;
   padding-left: calc(40px + 5px); /* calc(width picto + espace voulu) */
   border: 3px #F2F2F2 solid;
   border-radius: 50px;
}

   .recherche__filtres__boutons__bouton:hover {
      color: inherit;
   }

   .recherche__filtres__boutons__bouton::before {
      content: "";
      position: absolute;
      left: 10px;
      background-color: #F2F2F2;
      width: 0%;
      height: 100%;
      border: 1px #F2F2F2 solid;
      border-radius: 50px;
      z-index: -1;
      -webkit-transition: width .4s, border .4s;
      -o-transition: width .4s, border .4s;
      transition: width .4s, border .4s;
   }

      .recherche__filtres__boutons__bouton:hover::before {
         width: calc(100% - 10px); /* calc(100% - décalage du ::before left) */
      }

   .recherche__filtres__boutons__bouton + .recherche__filtres__boutons__bouton {
      margin-left: 15px;
   }

   @media (max-width: 575px) {
        .recherche__filtres__boutons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
    }

    @media (max-width: 767px) {
        .recherche__filtres__boutons__bouton {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .recherche__filtres__boutons__bouton + .recherche__filtres__boutons__bouton {
            margin-left: 0;
        }
    }

.recherche__filtres__boutons__bouton__picto {
   position: absolute;
   left: -3px; /* Compense le border de son parent */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   background-color: #DEEBFF;
   color: #0065FC;
   border-radius: 100%;
   height: 40px;
   width: 40px;
}

.recherche__infos {
    margin-bottom: 30px;
}

.recherche__infos__picto {
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   color: #0065FC;
   border: 3px #F2F2F2 solid;
   border-radius: 100%;
   margin-right: 5px;
   width: 20px;
   height: 20px;
}


/* ------------------------
    3 - HÉBERGEMENTS
------------------------ */

.hebergements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}

    @media (max-width: 991px) {
        .hebergements {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            margin-bottom: 0;
        }
    }


.hebergements-fond {
    background: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
}

    @media (max-width: 767px) {
        .hebergements-fond {
            border-radius: 0;
            padding: 30px 15px;
        }
    }


/* Hébergements Ville */
.hebergements__ville {
    width: calc(66.6666% - 15px); /* 15px d'espace entre les élements = 30px au total */
}

    @media (max-width: 991px) {
        .hebergements__ville {
            width: 100%;
        }

        .hebergements__ville.hebergements-fond {
            background-color: inherit;
        }
    }

.hebergements__ville__titre {
    margin-bottom: 1.5rem;
}

.hebergements__ville__hebergements {
    margin-bottom: calc(30px - 21px); /* Voir .card-hebergement--ville > width */
}

.hebergements__ville__hebergements .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

    @media (max-width: 575px) {
        .hebergements__ville__hebergements .row {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

.card-hebergement {
    background-color: #fff;
    border: 3px #fff solid;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px #dadada;
            box-shadow: 0px 0px 15px #dadada;
    overflow: hidden;
}

    .card-hebergement--ville {
        width: calc(33.3333% - 21px); /* 21px = border 3px (soit 6px) de chaque + 15px d'espace entre les élements */
        margin-bottom: 21px; /* Lié à la width */
    }

        @media (max-width: 575px) {
            .card-hebergement--ville {
                width: 100%;
                margin-bottom: 15px;
            } 
        }

    .card-hebergement--populaire {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

.card-hebergement__lien {
    text-decoration: none;
    width: 100%;
}

    .card-hebergement__lien:hover {
        color: inherit;
    }

    .card-hebergement__lien:hover .zoom-in:after {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }   

.card-hebergement__content__image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 10rem;
    overflow: hidden;
}

    #auberge-cannebiere {
        background-image: url("../img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    }

    #hotel-port {
        background-image: url("../img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    }

    #hotel-mouettes {
        background-image: url("../img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    }

    #hotel-mer {
        background-image: url("../img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    }

    #auberge-panier {
        background-image: url("../img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    }

    #hotel-amina {
        background-image: url("../img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    }
    

.card-hebergement__content__image img {
    width: 100%;
}

.card-hebergement__content__meta {
    padding: 5px 10px;
}

.card-hebergement__content__meta__titre {
    margin: 0 0 5px;
}

.card-hebergement__content__meta__description {
    margin-bottom: 7px;
}

.card-hebergement__content__meta__description__prix {
    font-weight: bold;
}

.card-hebergement__content__meta__note .fa-star {
    color: #0065FC;
}

    .card-hebergement__content__meta__note .fa-star--vide {
        color: #dadada;
    }

.hebergements__ville__lien {
    font-weight: bold;
    text-decoration: none;
}

    .hebergements__ville__lien:hover {
        color: inherit;
        text-decoration: underline;
    }


/* Hébergements Populaires */
.hebergements__populaires {
    width: calc(33.3333% - 15px); /* 15px d'espace entre les élements = 30px au total */
}

    @media (max-width: 991px) {
        .hebergements__populaires {
            width: 100%;
        }
    }

.hebergements__populaires__titre {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin-bottom: 1.5rem;
}

.card-hebergement--populaire .card-hebergement__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .card-hebergement--populaire + .card-hebergement--populaire {
        margin-top: 30px;
    }

        @media (max-width: 575px) {
            .card-hebergement--populaire + .card-hebergement--populaire {
                margin-top: 15px;
            }
        }

.card-hebergement--populaire .card-hebergement__content__image {
    width: 33.333%;
}

    #hotel-soleil-matin {
        background-image: url("../img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    }

    #coeur-eau-chambres-hotes {
        background-image: url("../img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    }

    #hotel-bleu-blanc {
        background-image: url("../img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    }

.card-hebergement--populaire .card-hebergement__content__meta {
    position: relative;
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.card-hebergement--populaire .card-hebergement__content__meta__note {
    position: absolute;
    bottom: 10px;
}



/* ------------------------
    4 - ACTIVITÉS
------------------------ */
.activites {
    margin-bottom: 50px;
}

    @media (max-width: 575px) {
        .activites {
            margin-bottom: 30px;
        }
    }

.activites__titre {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .activites__activites {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}


.activites__activites .column {
    height: 500px;
}

    @media (max-width: 575px) {
        .activites__activites .column {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            height: auto;
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {


        .activites__activites .column:nth-child(even) .card-activite:first-child {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
        }

        .activites__activites .column:nth-child(even) .card-activite + .card-activite {
            margin-left: 0;
            margin-right: 30px;
        }
    }

    @media (min-width: 768px) {
        .activites__activites .column {
            height: 350px;
            width: calc(50% - 15px);
        }
    
        .activites__activites .column + .column {
            margin-left: 30px;
        }
    }

    @media (min-width: 992px) {
        .activites__activites .column {
            height: 500px;
        }
    }

.card-activite {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px #dadada;
            box-shadow: 0px 0px 15px #dadada;
    width: calc(25% - 30px); /* calc(4 colonnes - margin-left) */
    width: calc(50% - 15px); /* calc(2 colonnes * 2 - margin-left) */
    overflow: hidden;
}

    @media (max-width: 575px) {
        .card-activite {
            width: 100%;
        }
    }

    @media (min-width: 576px) {
        .card-activite {
            margin-bottom: 30px;
        }
    }

    .card-activite + .card-activite {
        margin-left: 30px;
    }

    .card-activite:first-child {
        height: 100%;
    }

    .card-activite:nth-child(2) {
        -webkit-box-flex: 3;
            -ms-flex-positive: 3;
                flex-grow: 3;
    }

        .activites__activites .column + .column .card-activite:nth-child(2) {
            -webkit-box-flex: 2;
                -ms-flex-positive: 2;
                    flex-grow: 2;
        }

    .card-activite:nth-child(3) {
        -webkit-box-flex: 2;
            -ms-flex-positive: 2;
                flex-grow: 2;
    }

        .activites__activites .column + .column .card-activite:nth-child(3) {
            -webkit-box-flex: 3;
                -ms-flex-positive: 3;
                    flex-grow: 3;
        }

        @media (max-width: 575px) {
            .card-activite + .card-activite {
                margin-top: 15px;
                margin-left: 0;
            }

            /* Cartes 2 et 5 */
            .card-activite:nth-child(3n+2) {
                margin-bottom: 0;
            }
        }

.card-activite__lien {
    text-decoration: none;
}

    .card-activite__lien:hover {
        color: inherit;
    }

    .card-activite__lien:hover .zoom-in:after {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    } 

.card-activite__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.card-activite__content__image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: hidden;
}

    @media (max-width: 575px) {
        .card-activite__content__image {
            height: 10rem;
        }
    }

    #vieux-port {
        background-image: url("../img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }

    #fort-pomegues {
        background-image: url("../img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    }

    #iles-friout {
        background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    }

    #parc-calanques {
        background-image: url("../img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }

    #notre-dame-garde {
        background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    }

    #parc-longchamp {
        background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    }
    

.card-activite__content__meta {
    padding: 10px 15px;
}

.card-activite__content__meta__titre {
    margin: 0;
}
   